@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    position: relative;
    width: 430px;
    background-color: #E8E8E8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 28px 26px 28px;
}

header a {
    cursor: pointer;
}

.account {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.account p {
    font-weight: 500;
}

header button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    width: 6.25rem;
    height: 1.875rem;

    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;

    border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: #FFF;
}

.info {
    padding: 2rem;
}

.cards {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.score {
    position: relative;
    color: #686868;
}

.money {
    position: absolute;
    bottom: 16px;
    left: 1.6rem;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montaga';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.score_name{
    position: absolute;
    bottom: 20px;
    left: 100px;

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.status{
    border-radius: 0.3125rem;
    background: #686868;
    color: #D9D9D9;
    padding: 0.2rem 1rem;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    position: absolute;
    top: 14px;
    right: 90px;
}

.layer__container {
    margin-top: 20px;
}

.layer {
    overflow: auto;
    width: 100%;
    height: 220px;
    padding-right: 5px;
    margin-bottom: 40px;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.layer__block {
    border: solid 1px#2F2F2F;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.block__left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block__left p:nth-child(1) {
    font-size: 1rem;
    font-weight: 500;
}

.block__left p {
    font-size: 0.9rem;
    font-weight: 400;
}

.block__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.block__right p {
    font-size: 0.8rem;
}

.bx-info-circle {
    cursor: pointer;
    font-size: 1.5rem;
}

.layer::-webkit-scrollbar {
    width: 5.5px;
}

.layer::-webkit-scrollbar-track {
    background-color: #2F2F2F;
}

.layer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 0.3px solid #D9D9D9;
    background-color: #ffffff59;
}
p{
    padding: 0;
    margin: 0;
}
.panel {
    position: absolute;
    top: 100;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 14px 8rem;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px -2px 2px 0px rgba(0, 0, 0, 0.04), 0px -4px 3px 0px rgba(0, 0, 0, 0.02), 0px -8px 3px 0px rgba(0, 0, 0, 0.01), 0px -12px 3px 0px rgba(0, 0, 0, 0.00);
}

.panel a i {
    cursor: pointer;
    font-size: 24px;
    color: #858585;
}

.panel a {
    text-decoration: none;
}
