@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
  min-height: 100vh;
  background: #212121;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 430px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field-email, .input-field-password, .input-field-name {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;

  font-family: 'Roboto', sans-serif;
}

.form .btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2.5em;

  gap: 0.5rem;
}


a{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button1 {
  width: 50%;
  padding: 0.5rem 0;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  width: 50%;
  padding: 0;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.button3:hover {
  background-color: red;
  color: white;
}